body{
    margin: 0;
    padding: 0;
    background: #cbb5d2f0;
}
.contenedor{
    margin: 170px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 220px;
    width: 40%;
    border: 6px solid #fff;
    background-color: #e5e5e5;
    box-shadow: -13px -13px -13px #fff, 15px 15px 15px rgba(13,39,80,.26), inset -13px -13px 13px #fff, inset 15px 15px 15px rgba(13,39,80,.26);
    border-radius: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: #00CC99;
}
.reloj{
    font-size: 4.7em;
}
.datos{
    font-size: 2.5em;
    font-family: 'Courier New', Courier, monospace;
}

@media only screen and (max-width: 120px){
    .cont-reloj{
        width: 50%;
    }
}
@media only screen and (max-width: 960px) {
    .cont-reloj{
      width:60%;
    }
}
@media only screen and (max-width: 870px) {
    .cont-reloj{
      width:65%;
    }
}
@media only screen and (max-width: 400px) {
    .cont-reloj{
      width:85%;
      height:150px
    }
    .reloj{
              font-size:2.8em;  
    }
    .datos{
      font-size:1.3em
    }
}