:root {
    --color-texto: #49454567;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', monospace;
    background: linear-gradient(to right, #B06AB3, #4568DC);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-weight: 700;
}

form {
    background: #fff;
    padding: 40px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    display: grid;
    gap: 20px;
}

.form {
    width: 100%;
    margin: auto;
}

form .grupo {
    position: relative;
    margin: 10px;
}

input {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--color-texto);
}

input:focus {
    outline: none;
    color: #5e5d5d;
}

label {
    color: var(--color-texto);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

input:focus ~ label,
input:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}

.barra {
    position: relative;
    display: block;
    width: 200%;
}

.barra::before {
    content: '';
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #B06AB3, #4568DC);
    transition: 0.3s ease width;
    left: 0;
}

input:focus ~ .barra::before {
    width: 100%;
}

button {
    background: linear-gradient(to right, #B06AB3, #4568DC);
    border: none;
    display: block;
    width: 80%;
    margin: 20px auto 0;
    height: 40px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

p {
    text-align: center;
    color: rgba(154, 102, 228, 0.999);
    font-size: 14px;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}

/* Ajustes de grid para pantallas medianas y grandes */
@media screen and (min-width: 768px) {
    form {
        width: 29%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
    /* Para que el botón y el párrafo de advertencias ocupen el ancho completo */
    button, p {
        grid-column: span 2;
    }
}

@media screen and (max-width: 500px) {
    form {
        width: 90%;
        display: block;
    }
}
