body {
  margin: 0;
  overflow: hidden;
}
canvas {
  display: block;
}
#info {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-family: monospace;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}